### Produce a report of members and who recommended them in alphabetic surname,firstname order.

In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT a.surname, a.firstname, b.surname AS recomender_surname, b.firstname AS recomender_firstname
          FROM `Members` a 
          LEFT JOIN `Members` b 
            ON a.recommendedby = b.memid
            WHERE a.recommendedby > 0
            ORDER BY 1,2;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

### Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue.

In [3]:
def select_task_2(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query2 = """
        SELECT a.facid, b.name,
		SUM(CASE WHEN a.memid > 0 THEN a.slots * b.membercost
        	 ELSE a.slots * b.guestcost
        END) AS Revenue
FROM `Bookings` a
 LEFT JOIN `Facilities` b
ON a.facid = b.facid
GROUP BY 1,2
HAVING Revenue < 1000
ORDER BY Revenue DESC;
        """
    cur.execute(query2)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [4]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_task_2(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(8, 'Pool Table', 270)
(7, 'Snooker Table', 240)
(3, 'Table Tennis', 180)

### Find the facilities with their usage by member, but not guests.

In [5]:
def select_task_3(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query3 = """
        SELECT a.facid, COUNT(a.memid) AS Mbr_Count
  FROM `Bookings` a 
  LEFT JOIN `Members` b 
ON a.memid = b.memid
WHERE a.memid > 0
GROUP BY 1
ORDER BY Mbr_Count DESC;
        """
    cur.execute(query3)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [6]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_task_3(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(8, 783)
(7, 421)
(4, 421)
(3, 385)
(2, 344)
(0, 308)
(1, 276)
(6, 195)
(5, 27)

### Find the facilities usage by month, but not guests.

In [7]:
def select_task_4(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query4 = """
        SELECT a.facid, SUBSTRING(a.starttime,6,2) AS Month, COUNT(a.memid) AS Mbr_Count
  FROM `Bookings` a 
  LEFT JOIN `Members` b 
ON a.memid = b.memid
WHERE a.memid > 0
GROUP BY 1,2
ORDER BY 1,2 DESC;
        """
    cur.execute(query4)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [8]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_task_4(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, '09', 132)
(0, '08', 111)
(0, '07', 65)
(1, '09', 126)
(1, '08', 109)
(1, '07', 41)
(2, '09', 161)
(2, '08', 132)
(2, '07', 51)
(3, '09', 194)
(3, '08', 143)
(3, '07', 48)
(4, '09', 191)
(4, '08', 153)
(4, '07', 77)
(5, '09', 14)
(5, '08', 9)
(5, '07', 4)
(6, '09', 87)
(6, '08', 85)
(6, '07', 23)
(7, '09', 199)
(7, '08', 154)
(7, '07', 68)
(8, '09', 408)
(8, '08', 272)
(8, '07', 103)